// Place all the styles related to the Glossaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.glossary_page {
    background-color: #fff;
    margin-top: 3%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.76);
    margin-bottom: 5%;
    padding-bottom: 2%;
}

#glossary {
    text-align: center;
    border-bottom: 1.5px solid #181818;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 25px;
}

tbody {
    border-left: 1px solid white;
}

.glossary_letter {
    border-right: 1px solid white;
}

.glossary_title {
    border-right: 1px solid white;
}

.glossary_body {
    padding-left: 1%;
    border-bottom: 1px solid black;
    border-right: 1px solid white;
}

.glossary-edit {
    padding-left: 1%;
    border-right: 1px solid white;
}

.glossary-delete {
    padding-left: 1%;
    border-right: 1px solid white;
}