<% provide(:page_title, "New Glossary") %>

<section class="new_glossary">
    <div class="container">
        <h1 id="glossary">New Glossary</h1>

        <%= render 'form', glossary: @glossary %>

        <%= link_to 'Back to Glossary', glossaries_path, class: "btn btn-back_glossary" %>
    </div>
</section>