.cpd_page {
    background-color: #fff;
    margin-top: 3%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.76);
}

#cpd {
    text-align: center;
    border-bottom: 1.5px solid #181818;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 25px;
}

.table, th, td {
    border-right: solid darken($color: #EDEEF2, $amount: 15px) 1px;
}

.image {
    border-right: solid white 1px;
}