<section class="about_page">
    <a id="about"></a>
    
    <div class="container">
        <h1 class="about">About</h1>

        <p>Hello, my name is Joshua Merrett, I am currently undertaking an apprentcieship with JBhaura. The apprenticeship agency that I am part of is called Happy, this agency is working with the coders guild to provide training. JBhaura uses Ruby on Rails to develop their website, which is a new language for me however, this blog will contain projects that I have created or worked on to demonstrate my progression with Ruby on Rails and overall progression throughout the apprenticeship. One of the projects that I have created from scratch is this blog that you are currently viewing.</p>

    </div>

</section>