<!-- The code below will place the word active wherever :blog_active is yield. This will display the page that is being viewed in bold in the navbar. -->
<% provide(:about_active, "active") %>

<h1>About Page</h1>