<% provide(:page_title, "CPD") %>

<section class="cpd_page">
    <div class="container">
        <h1 id="cpd">CPD</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Link</th>
                        <th class="image">Image</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="image"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<section>