<% provide(:page_title, "Glossary") %>

<style>
    .li {
        margin-left: 3%;
        font-size: 16px;
    }

    p {
        padding-left: 1%;
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
    }
</style>

<section class="glossary_page">
    <div class="container">
        <h1 id="glossary">Glossary</h1>
        
        <nav></nav>
        
        <ul>
            <h2>A</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>B</h2>
            <div class="li">
                <li>Branch</li>
                <p>When we start a new piece of work or add a new feature to an existing project or deal with an issue we create a new branch. These are used to identify a specific point at which the work was started and once the work has been completed we can merge the branches into the master branch.</p>
            </div>
            <h2>C</h2>
            <div class="li">
                <li>Commit</li>
                <p>When something is changed with the code or the project we commit the change, this acts as a "save point" which we can revert back to if needed, or the commit can be used to identify when and where an error has occured. Commits are typically created often and with specific messaged to help devs remember what each commit added or removed from the project.</p>
                <li>Clone</li>
                <p>Clone is a git command line utility that is used to create a clone (copy) of a specific existing repository. This is achieved by running the command <em>"git clone"</em> followed by the HTTP or SSH link on the repo's page.</p>
            </div>
            <h2>D</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>E</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>F</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>G</h2>
            <div class="li">
                <li>Git</li>
                <p  >Git is a version control system. It provides us with a save for all changes made to code. Everytime something is added, edited or deleted, we create a message to say the changes made and git records exactly what has changed.</p>
            </div>
            <h2>H</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>I</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>J</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>K</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>L</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>M</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>N</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>O</h2>
            <div class="li">
                <li>Origin</li>
                <p>Origin is a git shorthand name for a remote repository that a project was cloned from. Origin uses the name of the cloned repo due to origin acting as a alias on the users system. Origin is used when we want to push changes to the original repo.</p>
            </div>
            <h2>P</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>Q</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>R</h2>
            <div class="li">
                <li>Repository</li>
                <p>A git repository is used to track all changes made to files within the project, which will over time build a history of the project. The repository creates a .git folder in the projects folder to allow it to store the changes. If this folder is deleted then so is the project's history.</p>
                <li>Remote</li>
                <p>Remotes in git are used to store the URL of cloned repo's, this is then used by origin when pushing the changes to the repo.</p>
                <li>Rebase</li>
                <p>Rebasing is used to combine the work of two branches together. Rebasing takes a set of commits, then copies these commits and places them somewhere else.</p>
                <li>Reset</li>
                <p>Reset in git is used to revert the changed by moving a branch backwards to an older commit. This will cause the local repository to act as if the latest commit never happened.</p>
                <li>Revert</li>
                <p>Revert in git is used to reverse changes on a remote branch, as reset only works on local branches not remote branches. Revert creates a new commit as there has been changes made to the repository, these changes being reverting the previous commit. Reverting allows for the changes to be pushed for others the view</p>
            </div>
            <h2>S</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>T</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>U</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>V</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>W</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>X</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>Y</h2>
            <div class="li">
                <li></li>
            </div>
            <h2>Z</h2>
            <div class="li">
                <li></li>
            </div>
        </ul>
    </div>
<section>