header {
    margin-bottom: 0px;
    background: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat center center; background-size:cover;
    color: #fff;
    text-align: center;
    height: 700px;
    align-content: center;
}

.col-lg-12 {
    padding-top: 16em;
}

.title {
    font-weight: bold;
}

.intro {
    font-size: 20px;
    font-weight: lighter;
}
