<!-- The code below will provide the web page wil a page title, the page title will be All Posts-->
<% provide(:page_title, "All Posts") %>
<!-- The code below will place the word active wherever :blog_active is yield. This will display the page that is being viewed in bold in the navbar. -->

<div class="container">
  <h1 class="blog">Blog</h1>

  <% if current_user %>
    <% if current_user.id || current_user.admin %>
      <%= link_to 'New Post', new_post_path(@post), class: 'btn btn-new btn-secondary' %>
    <% end %>
  <% end %>
</div>
<br>
<%= render @posts %>
