.new_post, .edit_post {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 3%;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.76);
}

.edit_post {
    margin-bottom: 3%;
}

#post_title, #post_description, #post_banner_image_url{
    width: 100%;
}

.post_title {
    text-align: center;
}

.post_body {
    padding-left: 1%;
}

