header {
    margin-bottom: 0px;
    background: url('header_background.jpg') no-repeat center center; background-size:cover;
    color: #fff;
    text-align: center;
    height: 700px;
    padding-bottom: 20%;
    align-content: center;
}

.col-lg-12 {
    padding-top: 16em;
}

.title {
    font-weight: bold;
}

.intro {
    font-size: 20px;
    font-weight: lighter;
}